<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.udham.crhelper" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.Default" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teachersActivity"
            android:label="@string/title_activity_teachers" >
        </activity>
        <activity
            android:name=".assignmentActivity"
            android:label="@string/title_activity_assignment"
            android:parentActivityName=".StudentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.udham.crhelper.StudentActivity" />
        </activity>
        <activity
            android:name=".timetable"
            android:label="@string/title_activity_timetable" >
        </activity>
        <activity
            android:name=".attendance"
            android:label="@string/title_activity_attendance" >
        </activity>
        <activity
            android:name=".syllabus"
            android:label="@string/title_activity_syllabus" >
        </activity>
        <activity
            android:name=".login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".sign_up"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".stuInfo"
            android:label="@string/title_activity_stu_info" >
        </activity>
        <activity
            android:name=".classes"
            android:label="@string/title_activity_classes" >
        </activity>
    </application>

</manifest>
